*, *::before, *::after{
    margin: 10;
    box-sizing: border-box;
  }
  
  html, body{
    height: 100vh;
    
  }

  body {
    background-image: url('https://media.istockphoto.com/id/1152000543/photo/blurred-background-food-in-the-bar-and-restaurant-setting.jpg?s=170667a&w=0&k=20&c=hCF-AlVh_E9Vs2yPciR6Z5qo1gn_TxDAw-LaRRdrWS8=');
    background-repeat: repeat-y;
    background-size: cover; 
    
}


.tagilo{
 
  display: flex;
  justify-content: center;
  width: 300px;
  border-radius: 10px;
  background-color: #e0922d;
  position: relative;
  left: 40%;
}